[submodule "test"]
	path = test
	url = git@github.com:EpitechIT2020/B-PSU-402-LYN-4-1-strace-guillaume.debard.git
[submodule "Strace"]
	path = Strace
	url = git@github.com:EpitechIT2020/B-PSU-402-LYN-4-1-strace-guillaume.debard.git
[submodule "Arcade"]
	path = Arcade
	url = git@github.com:EpitechIT2020/B-OOP-400-LYN-4-1-arcade-guillaume.soisson.git
[submodule "Malloc"]
	path = Malloc
	url = git@github.com:EpitechIT2020/B-PSU-400-LYN-4-1-malloc-guillaume.debard.git
[submodule "NmObjdump"]
	path = NmObjdump
	url = git@github.com:EpitechIT2020/B-PSU-400-LYN-4-1-nmobjdump-guillaume.debard.git
[submodule "Ftrace"]
	path = Ftrace
	url = git@github.com:EpitechIT2020/B-PSU-402-LYN-4-1-ftrace-bogdan.guillemoles.git
